
/* Выпадающий контейнер */
.dropdown {
	overflow: hidden;
	font-family: Arial, sans-serif !important;
}

/* Кнопка выпадающего списка */
button {
	font-size: inherit;
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: inherit;
	font-family: inherit; /* Важно для вертикального выравнивания на мобильных телефонах */
	margin: 0; /* Важно для вертикального выравнивания на мобильных телефонах */
}

th {
	font-size: 120%;
	font-family: Arial, sans-serif !important;
	font-weight: normal !important;
	padding: 0px 0px 0px 32px;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #262626;
	min-width: inherit;
	z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
	float: none;
	color: #A191E1;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	border-radius: 24px;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
	display: block;
	width: 136px !important;
}
/* Добавить серый цвет фона для выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
	background-color: #353535;
}

body {
	background-color: #1E1E1E;
	font-family: Arial, sans-serif;
	color: #DADADA;
}

a {
	color: #A191E1;
	text-decoration: none;			/* Отменяем подчеркивание у ссылки */
}

a.nav {
	font-size: 80%;
}

a:hover {
    text-decoration: underline !important;
}

a.nolink {
	color: #FF0000;
}

div {
	border-radius: 24px;
}

div.menu {
	background-color: #171717;
	border: 1px solid black;
	margin: 15px 15% 1% 15%;
	padding: 15px 15px 15px 15px;	
}

div.content {
	background-color: #262626;		/* Цвет фона */
	border: 1px solid black;		/* Толщина, тип и цвет рамки */
	margin: 1% 15% 1% 15%;			/* Отступ блока */
	padding: 15px;					/* Отступ текста */
}

div.footnote {
	background-color: #353535;
	border: 1px solid black;
	margin: 2% 5px 3% 5px;
	padding: 8px;
}

div.autor {
	margin: 1% 15% 1% 15%;
	padding: 15px;
	color: #353535;
	text-size-adjust: 20%;
	font-weight: 600;		/* Жирное начертание */
}

marquee.marq {
	margin-bottom: -10px;
}

span {
	margin-right: 80px;
}

h1 {
	margin-bottom: -3px; /* Отрицательный отступ между заголовком и текстом */
	}
h2 {
	margin-bottom: -10px; /* Отрицательный отступ между заголовком и текстом */
	}
h3 {
	margin-bottom: -10px;
	}

.rightimg  {
	float: right; /* Выравнивание по правому краю  */ 
	margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
}

p {
	text-align: justify; /* Выравнивание по ширине */
	text-indent: 25px; /* Отступ первой строки в пикселах */
}

p.pnone {
	text-indent: 0px;
}

table.start {
	width: 70%; /* Ширина всей таблицы */
}

td {
	padding: 5px;
	border-radius: 24px;
}

td.startcol {
	width: 100px;
	height: 100px;
	background-color: #353535;
	border: 1px solid black;
	text-align: center;
}

td.startspace {						/* Расстояние между колонками */
	width: 40%;
}

table.chapters {
	width: 100%; /* Ширина всей таблицы */
}

td.chapterscol {
	width: 20%;
	height: 40px;
	background-color: #353535;
	border: 1px solid black;
	text-align: center;
}

td.chaptersspace {						/* Расстояние между колонками */
	width: 60%;
}
